@inherits LayoutComponentBase

<PageTitle>Web Application Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
@*         <div class="top-row px-4">
            <LoginDisplay />
        </div> *@
@*         <AuthorizeView>
            <p>Hello, @context.User.Identity?.Name!</p>
        </AuthorizeView> *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
