@page "/login"
@layout LoginLayout;
@using DomainService.AuthenticationService.Input
@using Grpc.Core
@using WebAppBlazor.Helper
@using WebAppBlazor.Services.Authentication
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal;
@inject LoginState LoginState;
@attribute [AllowAnonymous]


<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }
</style>

<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold fs-2 mx-3 mb-0">Company Attendance System</p>
        </div>
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <InputText type="text" id="form3Example3" class="form-control form-control-lg"
                       placeholder="Username" @bind-Value="@loginModel.Username" />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-3">
            <InputText type="password" id="form3Example4" class="form-control form-control-lg"
                       placeholder="Password" @bind-Value="@loginModel.Password" />
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register" class="link-danger">Register</a></p>
        </div>

    </EditForm>
</div>

@code {
    private SignInInput loginModel = new SignInInput();

    private async Task HandleLogin()
    {
        try
        {
            var result = await AuthService.Login(loginModel);
            await Swal.FireAsync("Successful", $"Tài khoản {result.UserName} đăng nhập thành công", "success");
        }
        catch (RpcException ex) when (ex.StatusCode == StatusCode.Internal)
        {
            await Swal.FireAsync("Errors", ex.Status.Detail, "error");
            return;
        }
        LoginState.LoggedIn = true;
        NavigationManager.NavigateTo("/");


    }
}
